[submodule "lib/HElib"]
	path = lib/HElib
	url = https://github.com/shaih/HElib.git
[submodule "lib/tfhe"]
	path = lib/tfhe
	url = https://github.com/tfhe/tfhe.git
[submodule "lib/libpaillier-0.8"]
	path = lib/libpaillier-0.8
	url = https://github.com/mshcruz/PaillierLibrarySamples.git
