<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SHEEP</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Homomorphic Encryption Evaluation</h3>
        </div>
 
        <div>
            <h1>Enter input values</h1>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">

            </div>
        </div>
	<div>
	  <form method="POST" action="" enctype="multipart/form-data">
	    <table>
	      {% for field in form %}
	      <tr>
		<td>{{ field.label }}</td><td>{{ field }}</td>
	      </tr>
	      {% endfor %}
	    </table>
	    <p><input type=submit value="Go!" onclick="loading();"></form></p>
          </div>
 
</body>
 
</html>
